.checkbox {
  margin-left: auto;
  margin-right: auto;
}

.checkbox__label {
  position: relative;
}

.checkbox__input {
  appearance: none;

  &:checked + .checkbox__icon-1 {
    opacity: 0;
  }

  &:checked ~ .checkbox__icon-2 {
    opacity: 1;
  }
}

.checkbox__icon-1 {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 250ms $cubic-bezier;
}

.checkbox__icon-2 {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  fill: $accent-color;
  opacity: 0;
  transition: opacity 250ms $cubic-bezier;
}

.checkbox__text {
  padding-left: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $alternate-text-color;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: $accent-color;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
