$main-text-color: #212121;
$alternate-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$header-bottom-line: #e5e5e5;
$logo-header-color: #000000;
$logo-footer-color: #ffffff;
$hero-btn-hover: #188ce8;
$hero-footer-color: #2f303a;
$activities-description-bg-color: rgba(47, 48, 58, 0.8);
$personal-bg-color: #f5f4fa;
$client-main-color: #afb1b8;
$footer-links-text-color: rgba(255, 255, 255, 0.6);
$footer-network-bgc: rgba(255, 255, 255, 0.1);
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$modal-input-border-color: rgba(33, 33, 33, 0.2);
$portfolio-item-border: #eeeeee;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
